//text extends
%headingText {
    font-size: 40px;
    line-height: 40px;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
}

%bodyText {
    font-size: 16px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 400;
}

%inputSmallText {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
//flex extends
%flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flexColumnContainer {
    padding-top: 140px;
    @extend %flexColumn;
    margin: 0 auto;
}
