//colors
$primaryColor: #F4E041;
$primaryBrightColor: #FFE302;
$secondaryColor: #00BDD3;
$errorColor: #CB3D40;
$backgroundColor: #F8F8F8;
$backgroundWhite: white;
$inputBorder: #D0CFCF;
$inputText: #7E7E7E;
$Black: rgba(0, 0, 0, 0.87);

//fonts
$mainFont: 'Nunito', sans-serif;

//breakpoints
$breakpoint_s: 360px;
$breakpoint_m: 768px;
$breakpoint_l: 1024px;
$breakpoint_xl: 2560px;