$primaryColor: #F4E041;
$primaryBrightColor: #FFE302;
$secondaryColor: #00BDD3;
$backgroundColor: #F8F8F8;
$backgroundWhite: white;
$inputBorder: #D0CFCF;

$mainFont: 'Nunito', sans-serif;

$breakpoint_s: 360px;
$breakpoint_m: 768px;
$breakpoint_l: 1024px;
$breakpoint_xl: 2560px;