.registration-form {
    @extend %flexColumn;
    padding-top: $blocksGap;
    gap: 50px;
    padding-bottom: 100px;
    &__select-position-block {
        width: 380px;
        
    }
}
.ssuccesful-refistration-screen {
    @extend %flexColumn;
    padding-top: $blocksGap;
    padding-bottom: 100px;
}