.loader-container {
    @extend %flexColumn;
    &__rotate {
        animation: 1s linear 0s normal none infinite running rotation;
        -webkit-animation: 1s linear 0s normal none infinite running rotation;
        width: 100px;
    }
}

@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}