@media (max-width: $breakpoint_xl) {
}

@media (max-width: $breakpoint_l) {
    header {
        padding: 0 50px;
    }
}

@media (max-width: $breakpoint_m) {
    header {
        padding: 0 32px;
    }
}

@media (max-width: $breakpoint_s) {
    header {
        padding: 0 16px;
    }
}
