.radioInputsContainer {
    display: flex;
    flex-direction: column;
    .radioInput {
        @extend %bodyText;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
        input {
            appearance: none;
            margin: 0;
            font: inherit;
            color: $secondaryColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.05em solid $inputBorder;
            border-radius: 50%;
            display: grid;
            place-content: center;
            &:checked {
            border: 0.05em solid $secondaryColor;

            }
            &::before {
                content: "";
                width: 0.5em;
                height: 0.5em;
                border-radius: 50%;
                transform: scale(0);
                box-shadow: inset 1em 1em $secondaryColor;
            }
            &:checked::before {
                transform: scale(1);
            }
        }
    }
}