.radio-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 10px;
    &__radio-label {
        @extend %bodyText;
        display: grid;
        grid-template-columns: 20px auto;
        gap: 12px;
        
    }
    &__radio-input {
        appearance: none;
        margin: 0;
        font: inherit;
        color: $secondaryColor;
        width: 20px;
        height: 20px;
        border: 1.5px solid $inputBorder;
        border-radius: 50%;
        display: grid;
        place-content: center;
        transform: translateY(2px);
        &:checked {
        border: 1.5px solid $secondaryColor;
        }

        &::before {
            content: "";
            width: 9px;
            height: 9px;
            border-radius: 50%;
            transform: scale(0);
            box-shadow: inset 10px 10px $secondaryColor;
        }
        &:checked::before {
            transform: scale(1);
        }
        
    }
}