.profiles-container {
    @extend %flexColumnContainer;
    gap: 50px;
    &__profiles-list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 29px;
    }
    &__buttonContainer {
        display: flex;
        justify-content: center;
    }
}