.button {
    @extend %bodyText;
    height: 34px;
    min-width: 100px;
    padding: 0 18px;
    border-radius: 80px;
    text-align: center;
    outline: none;
    border: none;
    background: $primaryColor;
    display: inline-block;
    &:hover {
        background: $primaryBrightColor;
    }
    &:disabled {
        background: #B4B4B4;
        color: white;
    }
}
